## 1. Read Employee data in sampleEmployee dataframe

In [95]:
import pandas as pd
df_pandas = pd.read_csv("us-500.csv")

StatementMeta(dpdevsprkpool01, 2577, 41, Finished, Available)

##

## 2. Using this sampleEmployee dataframe create 100X more data points and store it into employeeDF ( this will have 50,000 rows )

In [96]:
dfEmployee = pd.concat([df_pandas]*100, ignore_index=True)

StatementMeta(dpdevsprkpool01, 2577, 42, Finished, Available)

## concat first and last name to get full name

In [97]:
dfEmployee["Emp_Name"]=dfEmployee["first_name"]+" "+dfEmployee["last_name"]

StatementMeta(dpdevsprkpool01, 2577, 43, Finished, Available)

## 3. The company has to plan a vaccination drive and the priority will be based on employee population in a particular city
(Therefore, count the number of employees in each city)

In [98]:
dfCityEmployeeDensity=dfEmployee.groupby("city")['Emp_Name'].count().reset_index(name='Empcount').sort_values(['Empcount'], ascending=False)

StatementMeta(dpdevsprkpool01, 2577, 44, Finished, Available)

## 4.Create a dataframe of CityEmployeeDensity, the 1st city will be the one with maxium number of employees

In [99]:
dfCityEmployeeDensity["Sequence"]=dfCityEmployeeDensity.Empcount.rank(method='dense', ascending=False).astype(int)
dfCityEmployeeDensity

StatementMeta(dpdevsprkpool01, 2577, 45, Finished, Available)

             city  Empcount  Sequence
200      New York      1400         1
235  Philadelphia       800         2
62        Chicago       700         3
184         Miami       600         4
189     Milwaukee       500         5
..            ...       ...       ...
130       Hialeah       100         9
129      Hazleton       100         9
127          Hays       100         9
126      Hatfield       100         9
341          York       100         9

[342 rows x 3 columns]

## 5. Please create new dataframe by name "VaccinationDrivePlan" with all columns from employeeDF and additional column "Sequence" 
## 6. In Sequence Column populate the value from the CityEmployeeDensity Dataframe. Print this dataframe

In [100]:
dfVaccinationDrivePlan=dfEmployee.merge(dfCityEmployeeDensity, on='city', how='left')

StatementMeta(dpdevsprkpool01, 2577, 46, Finished, Available)

In [101]:
dfVaccinationplan=dfVaccinationDrivePlan.sort_values(['Sequence'])
dfVaccinationplan

StatementMeta(dpdevsprkpool01, 2577, 47, Finished, Available)

      first_name  last_name  ... Empcount Sequence
3065       Tawna     Buvens  ...     1400        1
42326     Derick     Dhamer  ...     1400        1
35534    Alishia      Sergi  ...     1400        1
16565      Tawna     Buvens  ...     1400        1
4675       Layla    Springe  ...     1400        1
...          ...        ...  ...      ...      ...
27803      Olive   Matuszak  ...      100        9
10851     Weldon      Acuff  ...      100        9
27800   Kristeen  Turinetti  ...      100        9
10848     Samira  Heintzman  ...      100        9
6133     Thurman      Manno  ...      100        9

[50000 rows x 15 columns]

## Create sequence ID based on sequence column to group 100 emloyees for vaccination

In [102]:
dfVaccinationplan.insert(0, 'SquenceID', range(1, 1+len(dfVaccinationplan)))
dfVaccinationplan

StatementMeta(dpdevsprkpool01, 2577, 48, Finished, Available)

       SquenceID first_name  last_name  ...            Emp_Name Empcount Sequence
3065           1      Tawna     Buvens  ...        Tawna Buvens     1400        1
42326          2     Derick     Dhamer  ...       Derick Dhamer     1400        1
35534          3    Alishia      Sergi  ...       Alishia Sergi     1400        1
16565          4      Tawna     Buvens  ...        Tawna Buvens     1400        1
4675           5      Layla    Springe  ...       Layla Springe     1400        1
...          ...        ...        ...  ...                 ...      ...      ...
27803      49996      Olive   Matuszak  ...      Olive Matuszak      100        9
10851      49997     Weldon      Acuff  ...        Weldon Acuff      100        9
27800      49998   Kristeen  Turinetti  ...  Kristeen Turinetti      100        9
10848      49999     Samira  Heintzman  ...    Samira Heintzman      100        9
6133       50000    Thurman      Manno  ...       Thurman Manno      100        9

[50000 rows x 16 columns]

## Added a column Day to show vaccination plan

In [103]:
dfVaccinationplan["VaccinationDay"]=pd.qcut(dfVaccinationplan.SquenceID,q=500, labels=range(1, 500+1))
dfVaccinationplan

StatementMeta(dpdevsprkpool01, 2577, 49, Finished, Available)

       SquenceID first_name  last_name  ... Empcount Sequence VaccinationDay
3065           1      Tawna     Buvens  ...     1400        1              1
42326          2     Derick     Dhamer  ...     1400        1              1
35534          3    Alishia      Sergi  ...     1400        1              1
16565          4      Tawna     Buvens  ...     1400        1              1
4675           5      Layla    Springe  ...     1400        1              1
...          ...        ...        ...  ...      ...      ...            ...
27803      49996      Olive   Matuszak  ...      100        9            500
10851      49997     Weldon      Acuff  ...      100        9            500
27800      49998   Kristeen  Turinetti  ...      100        9            500
10848      49999     Samira  Heintzman  ...      100        9            500
6133       50000    Thurman      Manno  ...      100        9            500

[50000 rows x 17 columns]

## vaccination days per city

In [107]:
dfVaccinationdayspercity=dfVaccinationplan.groupby("city").VaccinationDay.nunique()
dfVaccinationdayspercity

StatementMeta(dpdevsprkpool01, 2577, 53, Finished, Available)

city
Aberdeen         82
Abilene          36
Absecon          89
Akron            88
Albany           85
                 ..
Wichita Falls    88
Wilmington       93
Worcester        45
Yonkers          92
York             89
Name: VaccinationDay, Length: 342, dtype: int64